<script>
  jQuery('#user_locale_switcher').find('.locale-list-trigger').each(function() {
  jQuery(this).click(function(){
      console.log('yoyo');
      jQuery(this).parent().toggleClass('active');
    });
  });

  // Should only add in production
/* var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//piwik.nuug.no/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();*/
</script>
<!--<noscript><p><img src="//piwik.nuug.no/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript> -->
<!-- End Piwik Code -->
