<h2>Din <strong>rett til 책 vite</strong></h2>
<p>Alle mennesker kan be om 책 f책 se myndighetenes i kortene. <strong>Loven
sier de m책 svare deg</strong>. <a href="<%= help_about_url %>">Finn ut
mer om Offentlighetslova</a>.</p>
