<h2>Din <strong>rett til å vita</strong></h2>
<p>Alle menneske kan be om å få sjå styresmaktene i korta. <strong>Lova
seier dei må svara deg</strong>. <a href="<%= help_about_url %>">Finn ut
meir om Offentleglova</a>.</p>
