<h2>
  Din <strong>Rett å Vite</strong>
</h2>
<p>Alle mennesker kan be om og se myndighetenes dokumenter. <strong>Loven sier de må svare deg</strong>. <a href="<%= help_about_url %>">Finn ut mer om Offentlighetslova.</a></p>
