body {
color:#444;
font-family:Arial, sans-serif;
background-color: #f8f8f8;
}

#banner {
background-repeat:no-repeat;
background-position:center top;
background-color:#487890;
/* background:url(/images/stripes.png); */
}

#topnav {
font-family:'DeliciousRoman', Arial, sans-serif;
}

#topnav li a,#topnav li a:visited {
color:#F1D1AC;
}

#topnav li a:hover {
color:#fff;
}

#topnav ul li.selected {
 background:#f8f8f8;
}

#topnav ul li a {
color:#eeeeee;
}

#topnav ul li.selected a {
color:#487890;
}

#logged_in_bar {
color:#F1D1AC;
}

#logged_in_bar a,#logged_in_bar a:visited {
color:#92B3FF;
}

h1,h2,h3 {
 font-family:Trebuchet, Trebuchet MS, Helvetica, sans-serif;
 color:#555;
}

h1 {
color:#4878A8;
font-size:42px;
font-family:'DeliciousBold', Arial, sans-serif;
}

h2 {
font-size:1.4em;
}


h2,dt {
color:#781800;
font-family:'DeliciousBold', Arial, sans-serif;
font-weight:400;
}

h3 {
color:#487890;
font-family:'DeliciousRoman', Arial, sans-serif;
font-weight:400;
}

a {
color:#4878A8;
}

p.subtitle {
font-family:'DeliciousRoman';
color:#000;
}

.request_listing span.head a,.user_listing span.head a,.body_listing span.head a {
color:#487890;
font-family:'DeliciousRoman', Arial, sans-serif;
font-weight:400;
}

.request_listing span.desc {
background:image-url('quote-marks.png') no-repeat;
color:#444;
}

.feed_link a,.act_link a,#header_right > a {
color:#487890;
}

#request_form label,label.form_label,span#to_public_body {
color:#487890;
}

span#to_public_body {
font-family:'DeliciousBold', Arial, sans-serif;
}

#middle_strip {
color:#4878A8;
}

#stepwise_make_request {
background-color:#A8D8F0;
xxbackground:url(/images/stripes.png);
border:1px solid #DEBEDD;
font-family:'DeliciousRoman', Arial, sans-serif;
color:#781800;
}

div.comment_in_request {
background:image-url('stripes-70-light2.png');
border-color:#5F5F5F;
border-style:dotted;
border-width:1px;
}

#request_form label,label.form_label {
font-family:'DeliciousRoman', Arial, sans-serif;
}

#navigation_search input[type=text] {
 border-color:#fff;
}


form input[type=submit],a.link_button_green,a.link_button_green_large {
font-family:'DeliciousRoman', Arial, sans-serif;
background-image: -webkit-linear-gradient(top, #F07830, #781800);
background-image: -moz-linear-gradient(top, #F07830, #781800);
background-image: -o-linear-gradient(top, #F07830, #781800);
background-image: -ms-linear-gradient(top, #F07830, #781800);
background-image: linear-gradient(top, #F07830, #781800);
}

div.frontpage-box {
background:image-url('stripes.png');
border:1px solid #DEBEDD;
font-family:'DeliciousRoman', Arial, sans-serif;
color:#487890;
}


div.correspondence,div.comment_in_request {
xxbackground:url(/images/stripes-70.png);
background-color: #A8D8F0;
}

div.outgoing.correspondence {
background:image-url('stripes-70-light.png');
}

#frontpage_splash {
background:image-url('flying-computer.png') no-repeat 175px bottom;
}

#frontpage_splash h1 {
font-family:'DeliciousRoman', Arial, sans-serif;
font-size:39px;
color:#487890;
font-weight:400;
margin:0 0 20px;
}

#frontpage_splash h1 strong {
font-family:'DeliciousHeavyRegular', Arial, sans-serif;
font-size:54px;
color:#4878A8;
font-weight:400;
}

#frontpage_splash h1 span {
font-family:Georgia;
font-style:italic;
font-weight:400;
font-size:25px;
color:#487890;
}

#frontpage_splash h2 {
font-size:26px;
font-weight:400;
color:#487890;
font-family:'DeliciousRoman', Arial, sans-serif;
}

#frontpage_splash h2 strong {
font-size:31px;
color:#4878A8;
font-family:'DeliciousBold', Arial, sans-serif;
}

#frontpage_splash h2 span {
color:#487890;
font-style:italic;
font-size:19px;
font-family:Georgia;
}


#ui-datepicker-div.ui-widget {
font-family:Arial, sans-serif;
color:#4878A8;
}

#ui-datepicker-div .ui-datepicker-header,#ui-datepicker-div .ui-widget-header {
color:#4878A8;
font-family:'DeliciousRoman';
}

#ui-datepicker-div .ui-state-default:hover {
background:#DEB4D8;
color:#FFF;
}

#ui-datepicker-div .ui-state-active {
background:#D093C7;
color:#FFF;
}

#other-country-notice {
background:#4878A8;
color:#FFF;
}

p.public-body-name-prefix {
color:#DEB4D8;
}

#other-country-notice a {
color:#FFF;
}


#link_box {
position:absolute;
text-align:left;
background-color:#FFF;
z-index:999;
opacity:0.9px;
border-radius:6px;
-moz-border-radius:6px;
border:1px solid #4878A8;
display:none;
padding:5px;
}

#link_box .close-button {
background-color:#4878A8;
margin-left:15px;
padding:0;
}

div.correspondence p.preview_subject {
font-family:'DeliciousRoman';
color:#781800;
}

div.correspondence p.preview_subject strong {
color:#781800;
}

div.controller_help h1 a,#logged_in_bar a,#logged_in_bar a:visited{
color:#FDFDFD;
}
#stepwise_make_request strong  {
color: #000;
}
body.front {
}

.request_listing span.desc {
background:image-url('quote-marks.png') no-repeat;
}

#frontpage_examples .excerpt {
background:url(../images/quote-marks.png) no-repeat;
}

#user_locale_switcher a {
	color: #fdfdfd;
}

#request_header {
	background-color: #eee;
}
#follow_count {
	color: #487890;
}
.icon_waiting_response, .icon_waiting_classification, .icon_waiting_clarification {
  color: #781800;
}
div.outgoing.correspondence {
  background: #A8D8F0;
}
/* increase contrast slightly because of background */
.correspondence_text {
color: #222;
}
#sitename {
font-family: Verdana, Geneva, sans-serif;
position:absolute;
left:0;
top:32px;
line-height: 0.9em;
width: 200px;
color: #fff;
font-size: 28px;
text-align:left;
}
#sitename:first-letter {
}
#authority_preview {
  background-color: #eee;
}
